@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#header {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#header > * {
  height: 2em;
  margin: 0 0.5em;
  font-size: 1em;
  font-family: ArtifaktElement;
}

#header .title {
  flex: 1 0 auto;
  height: auto;
}

.container {
  height: 90%;
  display: flex;
  flex-flow: row;
}

.parameters {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5% 2% 10% 0%;
}

.item {
  margin-bottom: 25px;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px;
  box-shadow: 2px 2px 2px grey;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: 1.5s all ease-in-out;
}
.item:hover,
.item:active,
.item:focus {
  box-shadow: 5px 5px 5px grey;
  transform: scale(1.07);
}

.col {
  position: relative;
}

#models {
  flex: 1 1 auto;
  min-width: 2em;
}

#colorMenu {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.dropdown {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  font-family: "Playfair Display", serif;
}
.label {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.inputClass {
  margin-bottom: 20px;
}
